/* style.css */
body {
    background-color:#F8F0E3;
}

div {
    display:flex;
    justify-content:center;
}

.container {

}

img {
    width: 50%;
    
}

#icons {
    flex-direction: column;
    align-items: right;
    
}

#main {
    display:flex;
    align-items: center;
}

#center-image {
    align-self: center;

}
