/* style.css */
.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    vertical-align:middle;
    
}
  
.icons {
    display: flex;
    flex-direction: column;
    vertical-align:middle;
  }

