body {
  background-color: #000000 !important;
}


.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.list-inline-item:not(:last-child)::after {
  content: "__";
  margin-left:20px;
  /* color: #fa61ff; */
  color: #ee7b45; 
}
.list-inline-item a {
  color: #ee7b45; 
  font-size: 50px; 
  font-family: 'Noto Serif Display', serif;
  transition: all 0.3s ease; 
}

.list-inline-item a:hover {
  color: white; 
  background-color: #ee7b45;
  text-decoration:none;
}

.col-md-12 p {
  color: #94847c; 
  font-family: 'Noto Serif', serif;
}

.box {
  display:flex;
}