@import url(https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap&?family=Kode+Mono:wght@400..700);

body {
  background-color: #000000 !important;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-logo {
  height: 50vh;
}

.home-nav {
  display: flex;
  list-style-type: none;
  font-family: 'sixtyfour', sans-serif;
  font-size: 40px; 
  transition: all 0.3s ease; 
  justify-content: center;
  padding: 0;
}

.home-nav li:not(:last-child)::after {
  content: "_";
  margin:0px 20px 0px 20px;
  color: #FF00FF; 
}

.home-nav a, .home-nav a:hover {
  color: #FF00FF; 
  text-decoration: none;
}

.home-nav a:hover {
  background-color: #FF00FF;
  color: black;
}

.header-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.logo-container img {
  width: 250px;
}

.logo-container img:hover {
  transform: scale(1.2);
}

/* About Me - body */
.about-body-row {
  font-family:'kode mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 20px 0px;
  color: #FF00FF; 
  gap: 50px;
}

/* About Me - bighead */
model-viewer {
  width: 500px;
  height: 500px;
}

.about-box a {
  color:#FF00FF;
}

.about-box a:hover {
  background-color:#FF00FF;
  color: black;
}

.about-window {
  border: 4px solid #FF00FF;
  border-radius: 8px;
  padding: 20px;
  /* box-shadow: 5px 5px 10px rgba(255, 66, 66, 0.2);*/
}

.about-window-title {
  border-bottom: 1px solid #FF00FF;
}

.work-body-row, .contact-row {
  font-family:'kode mono', monospace;
  margin: 30px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.work-body-row p{
  color:#FF00FF;
  font-size: 20px;
}

.contact-row p {
  color:#FF00FF;
  font-size: 15px;
}

.projects-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.project-card {
  width: 15rem;
  height: 20rem;
  border: 4px solid #FF00FF !important;
  border-radius: 8px; 
  background-color: rgba(0, 0, 0, 0) !important;
  transition: transform 0.3s ease;
  padding: 10px;
}

.project-card:hover {
  transform: scale(1.05); 
  opacity: 1; 
  background-color: #FF00FF !important;
}

.project-card:hover p, .project-card:hover h5 {
  color: black;
}

.project-card img{
  height: 150px;
  width: 150px;  
  align-self: center;
  margin-top: 10px;
}

.card-body h5 {
  font-size: 8px;
  color: #FF00FF;
}

.card-body p {
  font-size: 15px;
}

.copyright {
  color: #FF00FF; 
  font-family: 'sixtyfour', sans-serif;
  font-size: 10px; 
  text-align: center;
}